* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(17, 66, 66);
}

.container {
  width: 90%;
  max-width: 500px; 
  margin: 100px auto;
}

.cout {
  font-size: 70px;
  margin-bottom: 20px;
  color: burlywood;
}

#start {
  font-size: 80px;
  color: burlywood;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#incBtn,
#decBtn,
#resetBtn {
  padding: 10px 25px;
  background-color: burlywood;
  border: none;
  border-radius: 6px;
  color: rgb(17, 66, 66);
  font-size: 16px;
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}
.animate {
  animation: pop 0.25s ease;
}

/* #incBtn:hover,
#decBtn:hover,
#resetBtn:hover {
  background-color: rgb(17, 66, 66);
  border: 2px solid burlywood;
  color: burlywood;
} */


@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.fade {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}








/* Mobile responsiveness */
@media (max-width: 600px) {
  .cout {
    font-size: 45px;
  }

  #start {
    font-size: 55px;
  }

  .btn {
    flex-direction: column;
    gap: 15px;
  }

  #incBtn,
  #decBtn,
  #resetBtn {
    width: 100%;
  }
}
